{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="">
		    <!-- En-tête -->
			<header class="bg-green-600 text-white py-4">
				<div class="container mx-auto px-4">
					<h1 class="text-3xl font-bold">Bienvenue sur notre site</h1>
					<nav class="mt-2">
						<a href="{% url 'home' %}" class="text-white hover:text-gray-200 mr-4">Accueil</a>
						<a href="{% url 'home' %}" class="text-white hover:text-gray-200 mr-4">Services</a>
						<a href="{% url 'home' %}" class="text-white hover:text-gray-200">Se connecter</a>
					</nav>
				</div>
			</header>
			<div> 
				{% block content %}
				{% endblock %}
			</div>
	</body>
</html>
